/* inter-100 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 100;
  src: url("../fonts/inter-v20-latin-100.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-100italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: italic;
  font-weight: 100;
  src: url("../fonts/inter-v20-latin-100italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-200 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 200;
  src: url("../fonts/inter-v20-latin-200.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-200italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: italic;
  font-weight: 200;
  src: url("../fonts/inter-v20-latin-200italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/inter-v20-latin-300.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-300italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: italic;
  font-weight: 300;
  src: url("../fonts/inter-v20-latin-300italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-v20-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/inter-v20-latin-italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/inter-v20-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-500italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: italic;
  font-weight: 500;
  src: url("../fonts/inter-v20-latin-500italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/inter-v20-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-600italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: italic;
  font-weight: 600;
  src: url("../fonts/inter-v20-latin-600italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-v20-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-700italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/inter-v20-latin-700italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-800 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/inter-v20-latin-800.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-800italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: italic;
  font-weight: 800;
  src: url("../fonts/inter-v20-latin-800italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-900 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/inter-v20-latin-900.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-900italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: italic;
  font-weight: 900;
  src: url("../fonts/inter-v20-latin-900italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background-color: blanchedalmond; */
  font-family: "Inter";
}

header {
  background-image: url(./imgs/BAGRUONDIMG.svg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 100px;
  width: 100%;
}

main {
  background-color: white;
}
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}
.nav-page {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.two-img {
  display: flex;
  align-items: center;
  gap: 30px;
}
.subtitle p {
  color: #ffffff;
  font-size: 26px;
  font-weight: 400;
  line-height: 100%;
  margin-top: 112px;
}

.all-page {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.subtitle h2 {
  color: #ffffff;
  font-size: 56px;
  font-weight: 800;
  line-height: 120%;
  width: 100%;
  max-width: 656px;
  margin-top: 20px;
}

.raqamlar {
  display: flex;
  gap: 35px;
  margin-top: 40px;
}
.raqamlar span {
  color: #ffffff;
  font-size: 24px;
  font-weight: 700;
}
.raqamlar p {
  color: white;
  font-size: 14px;
  line-height: 100%;
  margin-top: 2px;
}

.buttonlar {
  display: flex;
  align-items: center;
  width: 555px;
  flex-wrap: wrap;
  gap: 12px;
  margin-top: 40px;
}

.buttonlar button {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
}
.karta {
  display: flex;
  align-items: center;
  gap: 55px;
  margin-top: 50px;
}
.karta img {
  transition: all 0.4s linear;
}
.karta img:hover {
  transform: scale(1.01);
  transition: all 0.4s linear;
  cursor: pointer;
}
.karta p {
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  line-height: 100%;
}

.text h2 {
  font-size: 36px;
  font-weight: 800;
  line-height: 120%;
  color: #35465e;
  margin-top: 70px;
}
.main img {
  margin-top: 30px;
}

.one-rasm {
  display: flex;
  align-items: center;
  gap: 30px;
  text-align: center;
}
.one-rasm img {
  transition: all 0.4s linear;
}
.one-rasm img:hover {
  transform: scale(1.01);
  transition: all 0.4s linear;
  cursor: pointer;
}
.middle {
  margin-left: 50%;
  margin-top: 30px;
  color: #35465e;
  font-size: 16px;
  line-height: 100%;
  font-weight: 400;
}

.hamma {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 100px;
  background-color: white;
}

.matn h2 {
  font-size: 36px;
  font-weight: 800;
  line-height: 120%;
  color: #35465e;
  margin-top: 28px;
}
.matn p {
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
  color: #556882;
  width: 385px;
  letter-spacing: 0px;
  margin-top: 18px;
}

.matn button {
  padding: 20px 60px;
  border-radius: 5px;
  border: none;
  background-color: #2489ff;
  color: white;
  margin-top: 40px;
}

.p-text {
  margin-left: 86%;
  margin-top: -76px;
}

.magazine {
  margin-left: 18%;
  margin-top: -175px;
}

.four-page img {
  width: 100%;
  margin-top: 100px;
  /* height: 80vh; */
  /* padding: 100% 0px; */
}

.card {
  max-width: 500px;
  margin-left: 7%;
  margin-top: -21%;
  background-color: white;
  position: relative;
  z-index: 3;
  padding: 10px;
  border-radius: 8px;
  transition: all 0.4s linear;
}
.card:hover {
  transform: scale(1.01);
  transition: all 0.4s linear;
  cursor: pointer;
}
.card h2 {
  font-size: 24px;
  font-weight: 800;
  line-height: 120%;
  color: #35465e;
  margin-top: 50px;
  margin-left: 14px;
}

.card p {
  font-size: 16px;
  line-height: 100%;
  color: #4e5c70;
  max-width: 400px;
  margin-top: 30px;
  margin-left: 10px;
}
.card img {
  margin-top: 30px;
  margin-left: 14px;
}

.logo img {
  margin-top: 100px;
  transition: all 0.4s linear;
}
.logo img:hover {
  transform: scale(1.01);
  transition: all 0.4s linear;
  cursor: pointer;
}
.one-text h2 {
  font-size: 36px;
  font-weight: 800;
  line-height: 120%;
  color: #35465e;
  margin-top: 70px;
  font-family: "Inter";
}

.one-text p {
  color: #9ca5b1;
  font-size: 16px;
  font-weight: 400;
  /* line-height: 100%; */
  margin-top: 16px;
  max-width: 599px;
}

.one-text button {
  margin-top: 50px;
  padding: 20px 40px;
  border: none;
  border-radius: 5px;
  background-color: #2489ff;
  color: white;
}

.all-title {
  display: flex;
  justify-content: space-between;
  background-color: white;
  box-shadow: 0px 4px 38px 0px rgba(34, 60, 80, 0.2);
  padding: 40px;
  margin-top: 150px;
  transition: all 0.4s linear;
}
.all-title:hover {
  transform: scale(1.01);
  transition: all 0.4s linear;
  cursor: pointer;
}
.tt-tt {
}
.tt-tt h2 {
  color: #35465e;
  font-weight: 800px;
  font-size: 36px;
  line-height: 120%;
  max-width: 338px;
}

.tt-tt button {
  padding: 8px;
  border: none;
  color: #35465e;
  border-radius: 5px;
  margin-top: 30px;
}

.tt-tt h3 {
  color: #35465e;
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  margin-top: 25px;
}

.tt-tt p {
  color: #35465e;
  font-size: 16px;
  font-weight: 400;
  max-width: 315px;
  margin-top: 15px;
}

.box {
  width: 100%;
  max-width: 400px;
  background-color: whitesmoke;
  border-radius: 5px;
  padding: 10px;
}
.box h2 {
  color: #35465e;
  font-weight: 800;
  font-size: 22px;
  max-width: 298px;
  text-align: center;
  margin: 30px auto;
}
.box input {
  padding: 8px 18px;
  border: none;
  border-radius: 5px;
  margin-top: 33px;
  margin-left: 25%;
}

.box button {
  padding: 10px 25px;
  border-radius: 5px;
  border: none;
  background-color: #2489ff;
  color: #ffffff;
  margin-top: 20px;
  margin-left: 25%;
  cursor: pointer;
}
.btn {
  margin: 0 auto;
}
button:hover {
  transform: scale(1.01);
  transition: all 0.4s linear;
  cursor: pointer;
}
.main-end {
  align-items: center;
}
.main-end h2 {
  color: #35465e;
  font-size: 36px;
  font-weight: 800;
  line-height: 120%;
  margin-top: 150px;
  margin-left: 28%;
  align-items: center;
}

.main-end p {
  color: #556882;
  font-weight: 400;
  font-size: 18px;
  margin-left: 36%;
  align-items: center;
  margin-top: 14px;
}
.map-section {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}

.map-section iframe {
  width: 100%;
  height: 420px;
  border: none;
}

.map-section::before {
  position: absolute;
  top: 0;
  width: 100%;
  height: 120px;
  background: linear-gradient(#ffffff, rgba(255, 255, 255, 0));
  z-index: 2;
}

.map-section::after {
  position: absolute;
  bottom: 180px;
  width: 100%;
  height: 120px;
  z-index: 2;
}

.form-box {
  position: relative;
  max-width: 700px;
  margin-left: 23%;
  margin-top: -120px;
  background: rgba(255, 255, 255, 0.95);
  padding: 25px;
  border-radius: 10px;

  display: flex;
  align-items: center;
  gap: 20px;

  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
}

.form-box p {
  margin: 0;
  font-size: 14px;
  font-weight: 600;
  color: #333;
  width: 220px;
  line-height: 1.4;
}

.form-box input {
  width: 180px;
  padding: 12px;
  border: none;
  border-radius: 6px;
  background: #eeeeee;
  font-size: 14px;
}

.form-box button {
  background: #2d7df6;
  color: #fff;
  border: none;
  padding: 12px 25px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
}

.form-box button:hover {
  background: #1c5edc;
}

.footer-end {
  display: flex;
  align-items: center;
  gap: 65px;
  background-color: #1c5edc;
  padding: 12px 16px;
}
.footer-end p {
  color: #dedbdb;
  font-size: 14px;
  font-weight: 400;
}
